/* .swiper {
  width: 100%;
  height: 250px;
  border:1px solid red;
  border-radius: 30px;
} */

.swiper-slide {
  text-align: center;
  font-size: 10px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight:light;
  color:#3397f6;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #3397f6;
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
.swiper-button-prev,.swiper-button-next{

 border-radius:7px;
 background-color:#3397f6;
 color:white

}
.swiper-button-prev:after,.swiper-button-next:after{
    font-size:0.8rem;
     padding:5px;
}